<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ConsumablesDao">
    <resultMap id="consumablesMap" type="model.Consumables">
        <id property="c_id" column="c_id"/>
        <result property="thename" column="thename"/>
        <result property="unit" column="unit"/>
        <result property="hos" column="hos"/>
        <result property="reason" column="reason"/>
        <result property="auditor" column="auditor"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="reducePrice" column="reducePrice"/>
        <result property="days" column="days"/>
        <result property="doctor" column="doctor"/>
        <result property="thetime" column="thetime"/>
    </resultMap>

    <!-- 添加外诊记录 -->
    <insert id="addConsumables" parameterType="Consumables">
        INSERT INTO consumables
            (thename,unit,hos,
                reason,auditor,totalPrice,
                  reducePrice,days,doctor,thetime)
            VALUES (#{thename },#{unit },#{hos },
                        #{reason },#{auditor },#{totalPrice },
                            #{reducePrice },#{days },#{doctor },#{thetime })
    </insert>


    <!--查找所有外诊记录-->
    <select id="getAllConsumables" resultMap="consumablesMap">
        SELECT * FROM consumables
    </select>

    
    <!--查找外诊记录 通过可能有的俩信息查找  患者名称 患者单位-->
    <select id="getConsumablesByInf" resultMap="consumablesMap">
        <bind name="pattern" value="'%' + theUnit + '%'" />
        SELECT * FROM consumables
        <where>
            <if test="theName != ''">
                AND thename = #{theName }
            </if>
            <if test="theUnit != ''">
                AND unit LIKE #{pattern }
            </if>
        </where>
    </select>





</mapper>
