<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.HealthScreenDao">
    <resultMap id="healthScreenMap" type="model.HealthScreen">
        <id property="hs_id" column="hs_id"/>
        <result property="company" column="company"/>
        <result property="time" column="time"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="die" column="die"/>
        <result property="epidemic" column="epidemic"/>

    </resultMap>

    <!-- 添加处方 -->
    <insert id="addHealthScreen" parameterType="HealthScreen">
        INSERT INTO healthScreen
            (company,time,name,
                type,die,epidemic)
            VALUES (#{company },#{time },#{name },
                        #{type },#{die },#{epidemic })
    </insert>

    <!--查找所有处方-->
    <select id="getAllhealthScreens" resultMap="healthScreenMap">
        SELECT * FROM healthScreen
    </select>

     <!--查找伤亡 通过可能有的俩信息查找  患者名称 患者单位-->
    <select id="getHealthScreenByInf" resultMap="healthScreenMap">
        <bind name="pattern" value="'%' + theDate + '%'" />
        SELECT * FROM healthScreen
        <if test="theDate != ''">
             WHERE time LIKE #{pattern }
        </if>
    </select>

    <!--查找安全排查记录 通过时间段-->
    <select id="getHealthScreenByTime" resultMap="healthScreenMap">
        SELECT * FROM healthScreen WHERE  time between #{startTime} and #{endTime}
    </select>

    <update id="updateHealthScreen" parameterType="HealthScreen">
        update healthScreen set company = #{company },time = #{time },name = #{name },
                        type = #{type },die = #{die },epidemic = #{epidemic }

                        where hs_id = #{hs_id}
    </update>

    <delete id="deleteHealthScreen" parameterType="HealthScreen">
        delete from healthScreen where hs_id = #{hs_id}
    </delete>

</mapper>
