<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PrescriptionDao">
    <resultMap id="prescriptionMap" type="model.Prescription">
        <id property="pre_id" column="pre_id"/>
        <result property="doctor" column="doctor"/>
        <result property="name" column="name"/>
        <result property="institutions" column="institutions"/>
        <result property="drug" column="drug"/>
        <result property="code" column="code"/>
        <result property="amount" column="amount"/>
        <result property="dosage" column="dosage"/>
        <result property="day" column="day"/>
        <result property="hz" column="hz"/>
        <result property="chronicDisease" column="chronicDisease"/>
        <result property="time" column="time"/>
    </resultMap>

    <!-- 添加处方 -->
    <insert id="addPrescription" parameterType="Prescription">
        INSERT INTO Prescription
            (doctor,name,institutions,
                drug,code,amount,
                  dosage,day,hz,
                    chronicDisease,time,note)
            VALUES (#{doctor },#{name },#{institutions },
                        #{drug },#{code },#{amount },
                            #{dosage },#{day },#{hz },
                              #{chronicDisease },#{time },#{note })
    </insert>

    <!--查找所有处方-->
    <select id="getAllPrescription" resultMap="prescriptionMap">
        SELECT * FROM Prescription
    </select>

     <!--查找处方 通过可能有的俩信息查找  患者名称 患者单位-->
    <select id="getPrescriptionByInf" resultMap="prescriptionMap">
        <bind name="pattern" value="'%' + theUnit + '%'" />
        SELECT * FROM Prescription WHERE 1=1
        <if test="theName != ''">
            AND name = #{theName }
        </if>
        <if test="theUnit != ''">
            AND institutions LIKE #{pattern }
        </if>
    </select>





</mapper>
